body {
    width: 100%;
    height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color:white;
  font-family: arial;
}

.menu-link {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.menu-link:hover {
  color: #6a7;
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: fixed; /*stops scroll on mobile*/
  top: 3em;
  left: 3em;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.nav-container input {
  width: 3em;
  height: 3em;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2; 
  -webkit-touch-callout: none;
}

.nav-container .menu-span { /*open close toggle*/
  display: flex;
  width: 2.1em;
  height: .3em;
  margin-bottom: .3em;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.nav-container .menu-span:first-child {
  transform-origin: 0% 0%;
}

.nav-container .menu-span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.nav-container input:checked ~ .menu-span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}

.nav-container input:checked ~ .menu-span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav-container input:checked ~ .menu-span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.nav-items {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: -3em 0 0 -4em;
    padding-top: 10em;
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.nav-items li {
  
  padding: 1em;
  font-size: 1.5em;
}

.nav-container input:checked ~ ul {
  transform: none;
}

@media screen and (min-width: 480px) {


}